@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{ bool loogedIn = User.Identity.IsAuthenticated; }

<h1 class="text-center">Neusta Companies</h1>

@if (loogedIn)
{
    <partial name="~/Views/CompanyTable/_CompanyTableLoggedIn.cshtml" for="tableModel"/>;
}
else
{
    <partial name="~/Views/CompanyTable/_CompanyTableNotLoggedIn.cshtml" for="tableModel"/>;
}
