@page
@model Neusta.CompamyService.Gui.Pages.addAttributeModel
@{
}

<h2>Attribut hinzufügen</h2>

<form method="post">
    <input type="text" id="attributeName" title="Attributname"/>
    <button type="submit" class="btn btn-primary">Attribut hinzufügen</button>
</form>