@page
@using Neusta.CompamyService.Gui.CompanyServiceApi
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model Neusta.CompamyService.Gui.Pages.IndexModel

@{ bool loogedIn = User.Identity.IsAuthenticated; }

<h1 class="text-center">Neusta Companies</h1>

@if (loogedIn)
{
    await Html.PartialAsync("~/Pages/CompanyTable/CompanyTableLoggedIn.cshtml");
}
else
{
    await Html.PartialAsync("~/Pages/CompanyTable/CompanyTableNotLoggedIn.cshtml");
}



