@page 
@using Neusta.CompamyService.Gui.CompanyServiceApi
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Neusta.CompamyService.Gui.Models
@using Neusta.CompamyService.Gui.Services
@model Neusta.CompamyService.Gui.Pages.IndexModel

@{ var loogedIn = User.Identity.IsAuthenticated; }

<h1 class="text-center">Neusta Companies</h1>

<div class="alert alert-success collapse" id="AlertSuccess">
    <a href="#" class="close" data-dismiss="alert"></a>
    Tabelle aktualisiert
</div>

<div id="grid">
    @if (loogedIn)
    {
        await Html.RenderPartialAsync("CompanyTable/_CompanyTableLoggedIn", Model.TableValues);
    }
    else
    {
        await Html.RenderPartialAsync("CompanyTable/_CompanyTableNotLoggedIn", Model.TableValues);
    }
</div>