@page
@using Neusta.CompanyService.Gui.CompanyServiceApi
@model Neusta.CompamyService.Gui.Pages.IndexModel
@{
}

<h2>Neusta Companies</h2>

<table>
    <thead>
    <tr>
        @if (Model.attributes != null)
        {
            @foreach (CompanyAttributeDto attribute in Model.attributes)
            {
                <th>
                    @Html.DisplayNameFor(model => attribute.Name)
                </th>
            }
        }
    </tr>
    </thead>
    <tbody>
    @if (Model.companies != null)
    {
        @foreach (CompanyDto company in Model.companies)
        {
            <tr>
                @foreach (CompanyAttributeValueDto value in company.CompanyAttributeValues)
                {
                    <th>
                        @Html.DisplayNameFor(model => value.Value)
                    </th>
                }
            </tr>
        }
    }
    </tbody>
</table>

