@page 
@using Neusta.CompamyService.Gui.CompanyServiceApi
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Neusta.CompamyService.Gui.Models
@using Neusta.CompamyService.Gui.Services
@model Neusta.CompamyService.Gui.Pages.IndexModel

@{ var loggedIn = User.Identity.IsAuthenticated; }

<h1 class="text-center">Neusta Companies</h1>

<div class="alert alert-success collapse" id="AlertSuccess">
    <a href="#" class="close" data-dismiss="alert"></a>
    Tabelle aktualisiert
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div id="grid">
    @if (loggedIn)
    {
        await Html.RenderPartialAsync("CompanyTable/_CompanyTableLoggedIn", Model.TableValues);
    }
    else
    {
        await Html.RenderPartialAsync("CompanyTable/_CompanyTableNotLoggedIn", Model.TableValues);
    }
</div>