@page 
@using Neusta.CompamyService.Gui.CompanyServiceApi
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Neusta.CompamyService.Gui.Models
@using Neusta.CompamyService.Gui.Services
@model Neusta.CompamyService.Gui.Pages.IndexModel

@{ bool loogedIn = User.Identity.IsAuthenticated; }

<h1 class="text-center">Neusta Companies</h1>

<div id="companyTable">
    @if (loogedIn)
    {
        await Html.RenderPartialAsync("CompanyTable/_CompanyTableLoggedIn", Model.TableValues);
    }
    else
    {
        await Html.RenderPartialAsync("CompanyTable/_CompanyTableNotLoggedIn", Model.TableValues);
    }
    </div>




