<h2 class="text-center">Attribut hinzufügen</h2>

<form asp-page-handler="Attribute" id="attributeName" method="post">
    <div class="form-group">
        <div>

        </div>
        <label>Attributename angeben</label>
        <input class="form-control" name="attributeName"/>
    </div>

    <button type="submit" class="btn btn-primary">Attribut hinzufügen</button>
</form>