<h2 class="text-center">Attribut hinzufügen</h2>

<form action="@Url.Page("Index", "Attribute")" id="addAttributeForm" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>Attributename angeben</label>
        <input class="text" name="attributeName"/>
    </div>

    <button type="button" class="btn btn-primary" data-dismiss="modal"
            onclick="SubmitForm('addAttributeForm')">
        Hinzufügen
    </button>
</form>