@using Neusta.CompamyService.Gui.CompanyServiceApi
@model Neusta.CompamyService.Gui.CompanyServiceApi.CompanyAttributeDto


<form id="editAttributeForm" method="post" action="@Url.Page("Index", "UpdateAttribute")">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CompanyAttributeValues" />
    <input type="hidden" asp-for="OrderNumber" />
    <div class="form-group" align="center">
        <label asp-for="Name">Bezeichnung des Attributes</label>
        <input type="text" asp-for="Name" />
    </div>
    <div class="form-group" align="center">
        <label asp-for="Visible">Sichtbar <span class="bi-eye" aria-hidden="true"></span></label>
        <input asp-for="Visible" type="checkbox">
    </div>
</form>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-primary"  data-dismiss="modal" 
                onclick="SubmitForm('editAttributeForm')">
            Update
        </button>
    </div>
    <div class="col">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
                onclick="PostData('@Url.Page("Index", "DeleteAttribute")', { attributeId: @(Model.Id) })">
            Löschen
        </button>
    </div>
</div>