@page
@model Neusta.CompamyService.Gui.Views.AddAttributeModel
@{
    Layout = null;
}


<h2 class="text-center">Attribut hinzufügen</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="AttributeName" class="custom-control-label"></label>
        <input asp-for="AttributeName" class="form-control"/>
        <span asp-validation-for="AttributeName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Attribut hinzufügen</button>
</form>