@using Neusta.CompamyService.Gui.CompanyServiceApi
@model Neusta.CompamyService.Gui.Models.TableValues


<div style="overflow: auto">
    <table class="table table-striped">
        <thead>
            @if (Model.Attributes != null)
            {
                <tr>
                    <th>
                        @{ var url = Url.Page("AddAttribute");}
                        <input type="button" onlick="ShowAddAttribute(@url)" class="btn btn-primary" value="+">
                    </th>

                    @foreach (var attribute in Model.Attributes)
                    {

                        <th>
                            <form asp-page-handler="Attribute" id="attributeForm" method="post">
                                <input type="text" id="attributeName" value="@(attribute.Name)" />
                                <input type="hidden" id="attribute" value="@(attribute)" />
                            </form>
                        </th>
                    }
                </tr>
            }
        </thead>
        <tbody>
            @if (Model.Companies != null)
            {
                @foreach (var company in Model.Companies)
                {
                    <tr>
                        <td>
                            <button class="btn btn-primary">Edit</button>
                        </td>
                        @foreach (var value in company.CompanyAttributeValues)
                        {
                            <td>
                                <form asp-page-handler="Value" id="valueForm" method="post">
                                    <input type="text" id="valueNameId" value="@(value.Value)" />
                                    <input type="hidden" id="value" value="@(value)" />
                                    UpdateAttributeByPressingButton(valueNameId, valueForm)
                                </form>
                            </td>
                        }

                        @for (var index = 0; index < Model.Attributes.Count - company.CompanyAttributeValues.Count; index++)
                        {
                            <td>
                                <form asp-page-handler="Update" method="post">
                                    <input type="text" value="" />
                                </form>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div>
    <form method="post">
        <button type="submit" class="btn btn-primary">Add Company</button>
    </form>
</div>