@using Neusta.CompamyService.Gui.CompanyServiceApi
@model Neusta.CompamyService.Gui.Models.TableValues

<div style="overflow: auto">
    <table class="table table-striped">
        <thead>
        @if (Model.Attributes != null)
        {
            <tr>
                @foreach (var attribute in Model.Attributes)
                {
                    <th>
                        @Html.DisplayName(attribute.Name)
                    </th>
                }
            </tr>
        }
        </thead>

        <tbody>
        @if (Model.Companies != null)
        {
            @foreach (var company in Model.Companies)
            {
                <tr>
                    @foreach (var value in company.CompanyAttributeValues)
                    {
                        <td>
                            @Html.DisplayName(value.Value)
                        </td>
                    }
                </tr>
            }
        }
        </tbody>
    </table>
</div>