@using Neusta.CompamyService.Gui.CompanyServiceApi
@model Neusta.CompamyService.Gui.Models.TableValues

<div style="overflow: auto">
    <table class="table table-bordered">
        <thead>
        @if (Model.Attributes != null)
        {
            <tr>
                @foreach (var attribute in Model.Attributes)
                {
                    if (attribute.Visible)
                    {
                        <th>
                            @Html.DisplayName(attribute.Name)
                        </th>
                    }
                }
            </tr>
        }
        </thead>

        <tbody>
        @if (Model.Companies != null)
        {
            @foreach (var company in Model.Companies)
            {
                if (company.Visible)
                {
                    <tr>
                        @foreach (var attribute in Model.Attributes)
                        {
                            var value = company.CompanyAttributeValues.FirstOrDefault(v => v.CompanyAttributeId == attribute.Id);
                            var valueName = "";
                            if (value != null)
                            {
                                valueName = value.Value;
                            }
                            <td>
                                @Html.DisplayName(valueName)
                            </td>
                        }
                    </tr>
                }
            }
        }
        </tbody>
    </table>
</div>