@page "{handler?}"
@using Neusta.CompamyService.Gui.CompanyServiceApi
@model Neusta.CompamyService.Gui.Models.TableModel
@{
    Layout = null;
}


<table>
    <thead>
        @if (Model.attributes != null)
        {
            <tr>
                @foreach (CompanyAttributeDto attribute in Model.attributes)
                {
                    <th>
                        @Html.DisplayName(attribute.Name)
                    </th>
                }
            </tr>
        }
    </thead>
    <tbody>
        @if (Model.companies != null)
        {
            @foreach (CompanyDto company in Model.companies)
            {
                <tr>
                    @foreach (CompanyAttributeValueDto value in company.CompanyAttributeValues)
                    {
                        @Html.DisplayName(value.Value)
                    }
                </tr>
            }
        }
    </tbody>
</table>